@import 'mediaqueries';

@mixin layout-margin($factor, $screen-size) {
  width: calc(0.9 * $factor * 100%);
}

@mixin eight-column-layout-margin {
  margin: auto;
  max-width: 80%;

  @include media-query-large {
    max-width: 54%;
  }
}
