
#radar {
  //--quadrants-gap: #{$quadrantsGap};
  width: 100%;
  margin: 0 auto 0;
  position: relative;


  @if $UIRefresh2022 {
    width: 100%;

    @include media-query-xlarge {
      width: 100%;
      min-width: calc($quadrantWidth * 2 + $quadrantsGap);
    }

    @include layout-margin(calc(12 / 12), $screen-xlarge);
    @include layout-margin(calc(12 / 12), $screen-xxlarge);
    @include layout-margin(calc(12 / 12), $screen-xxxlarge);

    .no-blip-text {
      display: none;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    &.no-blips {
      height: auto !important;
      .no-blip-text {
        display: block;
      }

      .quadrant-group,
      .quadrant-table,
      .radar-legends {
        display: none !important;
      }
    }
    display: flex;
    flex-direction: column;

    //&.mobile {
    //
    //}

    &:not(.mobile) {
     // display: none;
      width: 0;
      height: 0;
    }

    @include media-query-xlarge {
      display: grid;
      //grid-template-columns: 1fr 1fr;
      transition: 1s ease-in-out;
      &:not(.mobile) {
        width: 100%;
        height: 100%;
        display: grid;
        //column-gap: 16px;
        grid-template-columns: 0fr 0fr 1fr 0fr 0fr ;
        //grid-template-columns: 0fr 1fr;
        //grid-template-areas: "svg-wrapper";
      }
      &.first{
        //grid-column: 2;
        grid-template-columns: 1fr 0fr 1fr 0fr 0fr;
        //grid-template-areas: "first svg-wrapper";
        .svg-wrapper{
          padding-left: calc($quadrantsGap / 2);
        }
      }
      &.second{
        //grid-column: 3;
        grid-template-columns: 0fr 1fr 1fr 0fr 0fr;
        .svg-wrapper {
          padding-left: calc($quadrantsGap / 2);
        }
      }
      &.third{
        //grid-column: 4;
        grid-template-columns: 0fr 0fr 1fr 1fr 0fr;
        .svg-wrapper {
          padding-right: calc($quadrantsGap / 2);
        }
      }
      &.fourth{
        //grid-column: 5;
        grid-template-columns: 0fr 0fr 1fr 0fr 1fr;
        .svg-wrapper {
          padding-right: calc($quadrantsGap / 2);
        }
      }
    }
  }

  .svg-wrapper{

    order: 0;
    overflow: hidden;
    margin:0;
    @include media-query-xlarge {
      position: sticky;
      top: $subnavHeight;
      transition: 1s ease-in-out,  padding-right 0s, padding-left 0s;
      order: 3;
    }
    //display: flex;
    flex-direction: column;
    height: fit-content;
    //flex: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  svg#radar-plot {
    margin: 0 auto;
    //transition: all 1s ease;
    position: static;
    left: 0;
    right: 0;

    @if $UIRefresh2022 {
      display: none;
      transition: none;

      margin: 0 auto;

      &.enable-transition {
        transition: all 1s ease;
      }


      @include media-query-medium {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width:auto;
        height: auto;
        margin-top: auto;
      }
      @include media-query-xlarge {
        width: 100%;
      }
    }

    &.quadrant-view {
      .quadrant-group {
        pointer-events: none;
      }

      .quadrant-name-group {
        display: none;
      }

      @include media-query-xlarge {
        &.sticky {
          position: fixed;
          transition: none;
          top: $subnavHeight !important;
        }
      }
    }

    @if $UIRefresh2022 {
      pointer-events: none;
      z-index: 10;
    }

    .legend {
      visibility: hidden;
      transition: visibility 1s ease 1s;
      color: $black;
    }

    path {
      &.ring-arc-3 {
        stroke: none;
        fill: $grey-light;
      }

      &.ring-arc-2 {
        stroke: none;
        fill: $grey;
      }

      &.ring-arc-1 {
        stroke: none;
        fill: $grey-dark;
      }

      &.ring-arc-0 {
        stroke: none;
        fill: $grey-darkest;
      }
    }

    @if $UIRefresh2022 {
      path {
        &.ring-arc-3,
        &.ring-arc-2,
        &.ring-arc-1,
        &.ring-arc-0 {
          stroke: $mist-s30;
          stroke-width: 1;
          fill: white;
        }
      }

      .quadrant-group {
        transition: opacity 0.5s ease-out;
        pointer-events: all;
      }
    }

    .blip-link {
      text-decoration: none;
      cursor: pointer;
      pointer-events: initial;
      outline: none;
    }

    .quadrant-group {
      cursor: pointer;
    }

    circle,
    polygon,
    path {
      &.first {
        fill: $green;
        stroke: none;
      }

      &.second {
        fill: $blue;
        stroke: none;
      }

      &.third {
        fill: $orange;
        stroke: none;
      }

      &.fourth {
        fill: $violet;
        stroke: none;
      }
    }

    line {
      stroke: white;
    }

    text {
      &.blip-text {
        font-size: 9px;
        font-style: italic;
        fill: $white;
      }

      &.line-text {
        font-weight: bold;
        text-transform: uppercase;
        fill: $black;
        font-size: 7px;
      }
    }

    @if $UIRefresh2022 {
      circle,
      polygon,
      rect,
      path {
        &.first {
          fill: $sapphire;
          stroke: none;
        }

        &.second {
          fill: $turmeric;
          stroke: none;
        }

        &.third {
          fill: $jade;
          stroke: none;
        }

        &.fourth {
          fill: $flamingo;
          stroke: none;
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 9px;
          font-style: italic;
          fill: $black;
        }

        &.line-text {
          font-weight: bold;
          text-transform: none;
          fill: $black;
          font-size: 16px;
        }
      }
    }
  }

  div.quadrant-table {
    .quadrant-table__name {
      display: none;
    }

    max-height: 0;
    @if not $UIRefresh2022 {
      max-width: 0;
    }
    position: relative;
    overflow: hidden;
    z-index: 11;
    transition: max-height 0.5s ease 1s;
    box-sizing: border-box;
    h3 {
      text-transform: uppercase;
      font-size: $baseFont;
      margin: 0;
      font-weight: bold;
    }

    @if $UIRefresh2022 {
      overflow: hidden;
      @include media-query-xlarge {
        &.first {
          //float: left;
          padding-right: calc($quadrantsGap / 2);
          margin-left: calc(-#{$quadrantsGap} / 2);
          order: 1;
          //grid-area:first;
        }

        &.second {
          //float: left;
          padding-right: calc($quadrantsGap / 2);
          margin-left: calc(-#{$quadrantsGap} / 2);
          order: 2;
          //grid-area:second;
        }

        &.third {
          padding-left: calc($quadrantsGap / 2);
          margin-right: calc(-#{$quadrantsGap} / 2);
          //float: right;
          order: 4;
          //grid-area:third;
        }

        &.fourth {
          padding-left: calc($quadrantsGap / 2);
          margin-right: calc(-#{$quadrantsGap} / 2);
          //float: right;
          order: 5;
          //grid-area:fourth;
        }
      }
    } @else {
      &.first {
        &.selected {
          float: right;
        }
      }

      &.second {
        &.selected {
          float: left;
        }
      }

      &.third {
        &.selected {
          float: left;
        }
      }

      &.fourth {
        &.selected {
          float: right;
        }
      }
    }

    &.selected {
      position: relative;
      max-height: 10000px;

      @if not $UIRefresh2022 {
        max-width: 40%;
      }
    }

    @if $UIRefresh2022 {
      max-height: 0;
      opacity: 0;
      transition: opacity 0.3s ease-out;

      flex: 0;
      &.selected {
        opacity: 1;
        transition: opacity 1s ease;
        flex: 1;

        @include media-query-medium {
          transition: opacity 1s ease 1s;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    ul {
      padding: 0;
      margin-left: 0;
      margin-top: 20px;

      li {
        list-style-type: none;
        padding-left: 0;

        .blip-list-item {
          padding: 2px 5px;
          border-radius: 2px;
          cursor: pointer;
          font-size: $baseFont;
          font-weight: 400;

          &.highlight {
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
          }
        }

        .blip-item-description {
          max-height: 0;
          overflow: hidden;
          width: 300px;

          p {
            margin: 0;
            border-top: 1px solid rgb(119, 119, 119);
            border-bottom: 1px solid rgb(119, 119, 119);
            padding: 20px;
            color: $grey-text;
            font-weight: 100;
            font-size: 14px;
          }

          transition: max-height 0.2s ease;

          &.expanded {
            transition: max-height 0.5s ease 0.2s;
            max-height: 1000px;
          }
        }
      }
    }
  }
}

@if ($UIRefresh2022) {
  .radar-legends {
    display: none;

    @include media-query-medium {
      &.right-view,
      &.left-view {
        justify-content: unset;
        width: unset;
      }

      &.sticky {
        //position: fixed;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      margin: $quadrantsGap auto;
      width: auto;
      //position: absolute;
      //bottom: -22px;
      max-height: 50px;
    }

    //there are .legend old classes that are not used in the new design
    .legend-div{
      width: 37px;
      height: 37px;
    }

    .legend-div:nth-child(n + 2) {
      margin-left: 24px;
    }
    .legend-div.new-image{
      content: url("./images/new.svg");
    }
    .legend-div.moved-image{
      content: url("./images/moved.svg");
    }
    .legend-div.existing-image{
      content: url("./images/existing.svg");
    }
    .legend-div.no-change-image{
      content: url("./images/no-change.svg");
    }

  }

  .all-quadrants-mobile {
    --quadrant-gap: 12px;
    --quadrant-btn-width-mobile: 170px;
    --quadrant-btn-height-mobile: 79px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
    margin-bottom: 42px;

    &.show-all-quadrants-mobile {
      display: flex;
    }
    @include media-query-medium {
      --quadrant-btn-width-mobile: 345px;
      --quadrant-btn-height-mobile: 160px;
    }
    @include media-query-xlarge {
      display: none;
      &.show-all-quadrants-mobile {
        display: none;
      }
    }

    width: calc(var(--quadrant-btn-width-mobile) * 2 + var(--quadrant-gap));
    height: calc(var(--quadrant-btn-height-mobile) * 2 + var(--quadrant-gap));

    .all-quadrants-mobile--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 3px;
      width: var(--quadrant-btn-width-mobile);
      height: var(--quadrant-btn-height-mobile);
      background-size: 100%;
      background-repeat: no-repeat;
      font-size: 16px;
      font-weight: bold;
      color: white;
      border: none;
      padding: 20px 30px;
      @include media-query-medium {
        font-size: 24px;
      }

      .btn-text-wrapper {
        text-align: left;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include media-query-medium {
          max-width: 60%;
          max-height: 60px;
        }
        &::after {
          content: url('./images/arrow-white-icon.svg');
          margin: 4px 4px 0;
        }
      }
    }

    #first-quadrant-mobile {
      background-color: $sapphire;
      background-image: url('./images/first-quadrant-btn-bg.svg');
    }
    #second-quadrant-mobile {
      background-color: $turmeric;
      background-image: url("./images/second-quadrant-btn-bg.svg");
    }
    #third-quadrant-mobile {
      background-color: $jade;
      background-image: url("./images/third-quadrant-btn-bg.svg");
    }
    #fourth-quadrant-mobile {
      background-color: $flamingo;
      background-image: url("./images/fourth-quadrant-btn-bg.svg");
    }
  }
}
